html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
 overflow: hidden;
 background-color: black;
}

.ui {
  position: absolute;
  right: 0;
  top: 300px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  width: 200px;
  background-color: rgba(0, 0, 0,0.5);
}

.ui-score {
  font-size: 27px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-style: italic;
  text-align: right;
  width: 100%;
}

#ui-scoreboard.scoreboard {
  font-style: italic;
  color: #fff;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0,0.5);
  text-align: left;
  padding: 0.5rem 1rem;
}

#ui-scoreboard__inner {
  font-size: 27px;
  font-weight: 700;
  background-color: transparent;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 1rem;
}

dialog { 
  text-align: center;
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh;
}